{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    <script type="text/javascript" src="https://pusher.btsbots.com/autobahn.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            //var socket = get_socket()
            var pusher = get_pusher()

            pusher.onopen = function (session) {
                console.log("session open");
                prefix="CNY_BTS"

                function on_order_book(args) {
                    refresh_order_book(args[0]);
                }
                session.subscribe('bts.orderbook.'+prefix, on_order_book)

                function on_trx(args) {
                    refresh_trx([args[0]]);
                }
                session.subscribe('bts.orderbook.'+prefix+".trx", on_trx)

                function on_order(args) {
                    console.log(JSON.stringify(args[0]))
                    refresh_order([args[0]]);
                }
                session.subscribe('bts.orderbook.'+prefix+".order", on_order)

                session.call('btsbots.get_last', ['bts.orderbook.'+prefix]).then(
                        function (res) {
                        refresh_order_book(res);
                        });
                session.call('btsbots.get_history', ['bts.orderbook.'+prefix+".order", 20]).then(
                        function (res) {
                        refresh_order(res);
                        });
                session.call('btsbots.get_history', ['bts.orderbook.'+prefix+".trx", 20]).then(
                        function (res) {
                        refresh_trx(res);
                        });
            };
            pusher.open();

        });
    </script>
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ _("Wallet Market") }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            {{ _("Bid") }}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="order_book_bid">
                                    <thead>
                                        <tr>
                                            <th>{{ _('Price') }}(<text name="quote">CNY</text>/<text name="base">BTS</text>)</th>
                                            <th>{{ _('Volume') }}(<text name="base">BTS</text>)</th>
                                            <th>{{ _('Balance') }}(<text name="quote">CNY</text>)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            {{ _("Ask") }}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="order_book_ask">
                                    <thead>
                                        <tr>
                                            <th>{{ _('Price') }}(<text name="quote">CNY</text>/<text name="base">BTS</text>)</th>
                                            <th>{{ _('Volume') }}(<text name="base">BTS</text>)</th>
                                            <th>{{ _('Balance') }}(<text name="quote">CNY</text>)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <!-- /.panel-heading -->
                        <div class="panel-heading">
                            {{ _("Trade History") }}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="transaction_history">
                                    <thead>
                                        <tr>
                                            <th>{{ _('Time') }}</th>
                                            <th>{{ _('Block') }}</th>
                                            <th>{{ _('Type') }}</th>
                                            <th>{{ _('Price') }}(<text name="quote">CNY</text>/<text name="base">BTS</text>)</th>
                                            <th>{{ _('match volume') }}(<text name="base">BTS</text>)</th>
                                            <th>{{ _('match balance') }}(<text name="quote">CNY</text>)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <!-- /.panel-heading -->
                        <div class="panel-heading">
                            {{ _("Order History") }}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" id="order_history">
                                    <thead>
                                        <tr>
                                            <th>{{ _('Time') }}</th>
                                            <th>{{ _('Block') }}</th>
                                            <th>{{ _('Type') }}</th>
                                            <th>{{ _('Price') }}(<text name="quote">CNY</text>/<text name="base">BTS</text>)</th>
                                            <th>{{ _('Volume') }}(<text name="base">BTS</text>)</th>
                                            <th>{{ _('Balance') }}(<text name="quote">CNY</text>)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    <script type="text/javascript" charset="utf-8">
var reverse = false;

refresh_order_book = function (text) {
      var precision_price = 7
      tab_bid = document.getElementById('order_book_bid');
      tab_ask = document.getElementById('order_book_ask');
      var order_bid_list = text["bids"];
      var order_ask_list = text["asks"];
      if (reverse == true){
      order_bid_list = text["asks"];
      order_ask_list = text["bids"];
      }
      var rowCount = tab_bid.rows.length;
      for (var index = rowCount -1; index>0; index--) {
         tab_bid.deleteRow(index);
         }
      var rowCount = tab_ask.rows.length;
      for (var index = rowCount -1; index>0; index--) {
         tab_ask.deleteRow(index);
         }

      for (index in order_bid_list) {
        dataTR = tab_bid.insertRow();
        var price = order_bid_list[index][0]
        var volume = order_bid_list[index][1]
        var balance = volume * price
        if (reverse == true){
        price = 1/order_bid_list[index][0]
        balance = order_bid_list[index][1]
        volume = balance / price
        }
        dataTR.insertCell(0).innerHTML = price.toFixed(precision_price);
        dataTR.insertCell(1).innerHTML = volume.toFixed(2);
        dataTR.insertCell(2).innerHTML = balance.toFixed(2);
      } 
      for (index in order_ask_list) {
        dataTR = tab_ask.insertRow();
        var price = order_ask_list[index][0]
        var volume = order_ask_list[index][1]
        var balance = volume * price
        if (reverse == true){
        price = 1/order_ask_list[index][0]
        balance = order_ask_list[index][1]
        volume = balance / price
        }
        dataTR.insertCell(0).innerHTML = price.toFixed(precision_price);
        dataTR.insertCell(1).innerHTML = volume.toFixed(2);
        dataTR.insertCell(2).innerHTML = balance.toFixed(2);
      } 
};

refresh_trx = function (text) {
      var precision_price = 7
      if (!text) return;
      tab = document.getElementById('transaction_history');
      var hisData = text;
      hisData.sort();
      for (index in hisData) {
        data = hisData[index];
        blockid = data[0];
        time = time_format(data[1])
        type = data[2];
        if (reverse == false) {
        price = data[3].toFixed(precision_price);
        volume = data[4].toFixed(3);
        balance = (volume*price).toFixed(3)
        }else{
        if (type == "sell") {
        type = "buy"
        }else{
        type = "sell"
        }
        price = (1/data[3]).toFixed(precision_price);
        balance = data[4].toFixed(3);
        volume = (balance/price).toFixed(3)
        }

        dataTR = tab.insertRow(1);
        dataTR.insertCell(0).innerHTML = time;
        dataTR.insertCell(1).innerHTML = blockid;
        dataTR.insertCell(2).innerHTML = type;
        dataTR.insertCell(3).innerHTML = price;
        dataTR.insertCell(4).innerHTML = volume;
        dataTR.insertCell(5).innerHTML = balance;
      } 
      try {
        while (true) {
          tab.deleteRow(41);
        }
      } catch (e) {
      }
};

refresh_order = function (text) {
      var precision_price = 7
      if (!text) return;
      tab = document.getElementById('order_history');
      var hisData = text;
      hisData.sort();
      for (index in hisData) {
        data = hisData[index];
        // short with unlimited
        if (data[3] == null){
            data[3] = 0
        }
        blockid = data[0];
        time = time_format(data[1])
        type = data[2];
        if (reverse == false) {
        price = data[3].toFixed(precision_price);
        if (type == "bid" || type == "cover" || type == "cancel bid"){
        balance = data[4].toFixed(3);
        volume = (balance/price).toFixed(3)
        }else{
        volume = data[4].toFixed(3);
        balance = (volume*price).toFixed(3)
        }
        }else{
        if (type == "ask") {
        type = "bid"
        }else{
        type = "ask"
        }
        price = (1/data[3]).toFixed(precision_price);
        if (type == "bid" || type == "cover" || type == "cancel bid"){
        volume = data[4].toFixed(3);
        balance = (volume*price).toFixed(3)
        }else{
        balance = data[4].toFixed(3);
        volume = (balance/price).toFixed(3)
        }
        }
        dataTR = tab.insertRow(1);
        dataTR.insertCell(0).innerHTML = time;
        dataTR.insertCell(1).innerHTML = blockid;
        dataTR.insertCell(2).innerHTML = type;
        dataTR.insertCell(3).innerHTML = price;
        dataTR.insertCell(4).innerHTML = volume;
        dataTR.insertCell(5).innerHTML = balance;
      } 
      try {
        while (true) {
          tab.deleteRow(41);
        }
      } catch (e) {
      }
};
    </script>
{% endblock %}

