<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
                //console.log(JSON.stringify(msg))
        });
    </script>
    <script src=js/bitshares.min.js></script>
    <script type="text/javascript" charset="utf-8">
           save_key = function () {
            if (localStorage.account) {
                account_list = JSON.parse(localStorage.account)
            }else{
                account_list = [] 
            }
               private_key = document.getElementById("private_key").value
               try {
                   key = bts.ecc.PrivateKey.fromWif(private_key)
                   key_hex = key.toHex()
                   address = key.toPublicKey().toBtsAddy()
               secret = document.getElementById("password").value
               aes = bts.ecc.Aes.fromSecret(secret)
               key_enc = aes.encryptHex(key_hex)
               new_account = {"account":"", "key":key_enc, "address":address}
                   found = 0
            for (index in account_list){
            if (address == account_list[index]["address"]){
              account_list[index] = new_account
                  found = 1
            }
            }
                   if(found == 0){
                account_list.push(new_account)
                   }
               localStorage.account = JSON.stringify(account_list)
            document.cookie="address="+address
                           sessionStorage.key=key_hex;
               }
               catch(err)
               {
                   console.log(err)
                       document.getElementById("msg").innerHTML="{{ _('private key is wrong') }}"
                   return false
               }
    }
    </script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ _("Import Private Key") }}</h3>
                    </div>
                    <div class="panel-body">
                                <div class="form-group">
                                    <input class="form-control" id="private_key" placeholder={{ _("Private key") }} type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="password" placeholder={{ _("Encrypt Password") }} type="password" value="">
                                    <label id="msg"></label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                        <form role="form" action="/" onsubmit="return save_key()">
                            <fieldset>
                                <input type="SUBMIT" value={{ _("Submit") }} class="btn btn-lg btn-success btn-block">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>


